/*#information {
    background-image: url("../img/portfolio/fullsize/ramen.JPG");
    background-size: cover;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}*/

#about p, #homeHeading {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/*#contact {
    background-image: url("../img/portfolio/fullsize/ticket.JPG");
    background-size: cover;
}*/